@charset "UTF-8";
.btn{
	width: 100px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* display: block; */
}
.danger{
	border: 1px solid red;
	background-color: red;
	border-radius: 20px;
}
.info{
	border: 1px solid cyan;
	background-color: cyan;
	border-radius: 20px;
}
.primary{
	border: 1px solid blue;
	background-color: blue;
	border-radius: 20px;
}
.success{
	border: 1px solid green;
	background-color: green;
	border-radius: 20px;
}
.warning{
	border: 1px solid rgb(255,128,128);
	background-color: rgb(255,128,128);
	border-radius: 20px;
}